* {
  margin: 0;
  padding: 0;
}
.title {
  text-align: center;
}

/* ================================== HomePage Budget Container ============================= */
.budgetCont {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  margin-bottom: 10px;
}
.budgetCard {
  width: 70vw;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.titleName,
.titleExpense {
  font-size: 30px;
}
/* ================================== CreatePage ======================================== */

.btnCont {
  text-align: center;
}
